<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li *ngIf="!isAuthenticated" routerLinkActive="active">
          <a routerLink="/auth">Authenticate</a>
        </li>
        <!-- Here is the navigation for the HEADER. We use routerLink to set the path for the URL, we can also add query parameters to this path with the following syntax, [routerLink]="[path, query, query]" -->
        <li *ngIf="isAuthenticated" routerLinkActive="active">
          <a routerLink="/recipes">Recipes</a>
        </li>

        <!-- We also add routerLinkActive to each LI element with the CSS class that we want to as and in this case we use it to determine the active element and show it in the header menu. -->
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated">
          <a (click)="onLogout()" style="cursor: pointer">Logout</a>
        </li>
        <li *ngIf="isAuthenticated" class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">
            <span class="caret"></span> Manage</a
          >
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer" (click)="onSaveData()">Sava Data</a>
            </li>
            <li>
              <a style="cursor: pointer" (click)="onFetchData()">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
